@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: #333;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }

  li img {
      padding: 2px 4px;
  }
  li a {
    display: block;
    color: white;
    text-align: right;
    text-decoration: none;
    padding: 10px 12px;
    font-family: 'Poppins';
    transition: .2s all ease-in-out;
  }
  
  li a:hover {
      transform: scale(1.1);
  }

  h1, h2, h3, p {
      font-family: 'Poppins';
      color: white;
      text-align: center;
  }
  
  
  
.card {
  background-color: #222;
  float: center;
  margin: auto;
  width: calc(55% - 20px);
  padding: 14px 16px;
  border-radius: 10px;
}
.card h1 {
  font-family: 'Poppins';
  color: #5464e9;
  text-align: center;
  font-size: 20px;
}
.card p {
  font-family: 'Poppins';
  color: white;
  text-align: center;
  font-size: 15px;
}
.card p img {
  width: 500px;
  text-align: center;
}
.cardContainer:after {
  content: "";
  display: table;
  clear: both;
}
.buttons {
  margin: auto;
  float: center;
  width: 42%;
}

.btn {
  color: white;
  font-family: 'Poppins';
  background-color: #444;
  border-radius: 12px;
  padding: 14px 46px;
  text-align: center;
  width: 35%;
  transition: .3s all ease-in-out;
  margin: 3px;
  text-decoration: none;

}
.btn:hover {
  background-color: #5464e9;
}

.widgets {
  margin: auto;
  float: center;
  width: 25%;
}
